<footer class="footer">

    <p class="footer-text">Destination Weather &copy;</p>

</footer>

<script src="js/main.js"></script>
<!-- <script src="js/nav.js"></script> -->
<!-- <script src="./public/bundle.js"></script> -->
</body>
</html>